# Database (Local SQLite)
DATABASE_URL="file:./dev.db"

# Next-intl Locale
NEXT_PUBLIC_DEFAULT_LOCALE="bn"

# Studio Contact Info
NEXT_PUBLIC_STUDIO_PHONE="+8801723722019"
NEXT_PUBLIC_STUDIO_WHATSAPP="8801723722019"
NEXT_PUBLIC_STUDIO_EMAIL="team.framempire@gmail.com"
