# Database (Local SQLite)
DATABASE_URL="file:./dev.db"

# Next-intl Locale
NEXT_PUBLIC_DEFAULT_LOCALE="bn"

# Google Apps Script Web App API (Commission Submissions to Google Sheets & Email)
NEXT_PUBLIC_APPS_SCRIPT_URL="https://script.google.com/macros/s/AKfycbyhE7UBrWkfQPQZZBqTXnObIqITWi7uh6MWwGN8Ac44GPLh9ic1mjtswiPS6Yv7lcWU8A/exec"

# Studio Contact Info
NEXT_PUBLIC_STUDIO_PHONE="+8801723722019"
NEXT_PUBLIC_STUDIO_WHATSAPP="8801723722019"
NEXT_PUBLIC_STUDIO_EMAIL="team.framempire@gmail.com"
