# Database Connection
DATABASE_URL="file:./dev.db"

# Next-intl
NEXT_PUBLIC_DEFAULT_LOCALE="bn"

# Payment Gateways (Optional / Sandbox)
SSLCOMMERZ_STORE_ID="test_store"
SSLCOMMERZ_STORE_PASSWORD="test_password"
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_PUBLISHABLE_KEY="pk_test_..."
